<app-header></app-header>
<button (click)="abrirLogin()" style="position:fixed;bottom:30px;right:30px;z-index:1050;">Iniciar sesión</button>

<ng-container *ngIf="!mostrarLogin">
  <app-hero></app-hero>
  <app-carousel></app-carousel>
</ng-container>

<ng-container *ngIf="mostrarLogin">
  <div class="router-robotic-area" [@routeAnimations]="o.isActivated ? o.activatedRoute.routeConfig?.path : ''">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</ng-container>
<app-about></app-about>
<app-cases></app-cases>
<app-services></app-services>
<app-contact></app-contact>
<app-footer></app-footer>
